*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 2rem;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    height: 120px;
    text-align: center;
}
